*.1 linguist-language=JavaScript
*.2 linguist-language=JavaScript
chrome/extension/** linguist-generated=true
chrome/extension-no-func/** linguist-generated=true
dist/firefox/** linguist-generated=true
